body {
  min-height: 100vh;
  background: rgb(34, 195, 41);
  background: linear-gradient(
    45deg,
    rgba(34, 195, 41, 0.75) 0%,
    rgba(45, 207, 253, 0.75) 99%
  );
}
.app-container {
  min-height: 100vh;
}
.card {
  min-width: 300px;
  max-width: 600px;
}
